@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nixie+One&family=Quando&family=Sanchez:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quando", "Sanchez", "Nixie One", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 16px;
  color: #434241;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1::selection {
  background: rgba(163, 189, 49, 0.6);
  color: #272727;
}
p::selection {
  background: rgba(163, 189, 49, 0.6);
  color: #272727;
}

h1 {
  font-family: "Quando", sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

p {
  font-family: "Sanchez", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
